@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap')




*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans',sans-serif;
}

body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}


header.secondary-nav .scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

header.secondary-nav .scroll::-webkit-scrollbar {
  display: none;
}



header.secondary-nav .dropdown {position:inherit;}
header.secondary-nav .dropdown-item {display: inline-block; font-size:2rem; font-weight:500; width:auto; clear:inherit; padding: 12px;}
header.secondary-nav .dropdown-toggle.visible {background:#fbf7fc}
header.secondary-nav .dropdown-item.active, header.secondary-nav .dropdown-item:active, header.secondary-nav .dropdown-item:hover  {background:#fff;}

header.secondary-nav, header.secondary-nav nav {
  font-size: 0;
}

header.secondary-nav {
  background-color: #fff;
  // border-top: 1px solid #e2e2e3;
  // border-bottom: 1px solid #e2e2e3;
  position: relative;
  z-index: 2;
  clear: both;
  width: 100%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

header.secondary-nav .vam {
  display: inline-block;
  vertical-align: middle;
}

header.secondary-nav .nav {
  width: 100%;
}

header.secondary-nav .nav-item {
  display: inline-block;
  vertical-align: middle;
  // cursor: pointer;
}

header.secondary-nav .nav-link{
  padding: 13px 14px;
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  header.secondary-nav::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;
    background: linear-gradient(to left, #e3e3e3, rgba(37, 40, 61, 0));
    pointer-events: none;
    transition: opacity .2s;
  }
  header.secondary-nav .nav-link {padding: 12px 10px;}
}

.active {
    background:#dfe0e5;
  overflow:hidden;
  border-top:2px solid #00f;  
}

 i{
	position: relative;
	right: -3px;
}

.bodsms{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.container{
	position:relative;
	width: 1256px;
	max-width:100%;
	height: calc(100vh - 40px);
	background: #fff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
	display: flex;
}

.container .leftSide{
	position: relative;
	flex: 30%;
	background:#fff;
	border-right: 1px solid #000;

}

.container .rightSide{
	position: relative;
	flex: 70%;
	background:#e5ddd5;

}

.container .rightSide::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: url(img1.png); 
	opacity: 0.16; 
}



.header{
	position: relative;
	width: 98%;
	height: 60px;
	background:#ededed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.userimg{
	position: relative;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;

}
.nav-icons{
	display: flex;
}

.nav-icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
}
.cover
{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	object-fit: cover;
}

.search-chat{
	position: relative;
	width: 100%;
	height: 50px;
	background: #f6f6f6;
	display: flex;
	justify-content: center;
}

.search-chat div{
	width: 100%;
	padding-top: 7px;
}


.search-chat div input{
	width: 98%;
	outline: none;
	border:none;
	background: #fff;
	padding: 5px;
	height: 40px;
	border-radius: 30px;
	font-size: 14px;
	padding-left: 43px;


}
.search-chat div input::placeholder{
	color: #bbb;
}

.search-chat div ion-icon{
	position: absolute;
	left: 30px;
	top: 14px;
	font-size: 1.2em;
} 

.chartlist{
	position: relative;
	height: calc(100% - 110px);
	overflow-y: auto;
}
 
.chartlist .block{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    cursor: pointer;
}

.chartlist .block.active{
	background: #ebebeb;
}

.chartlist .block.active:hover{
	background: #f5f5f5;
}

.chartlist .block .imgbx{
	position: relative;
	min-width: 45px;
	height: 45px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10px;
}

.chartlist .block .details{
	position: relative;
	width: 100%;
}

.chartlist .block .details .listHead{
	display: flex;
	justify-content: space-between;
	margin-bottom: -30px;
}

.chartlist .block .details .listHead h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.chartlist .block .details .listHead .time{
	font-size: 0.75em;
	color:#aaa; 
}

.chartlist .block .details .listHead .time{
	color: #111;
}

.chartlist .block.unread .details .listHead .time{
	color: #06d755;
}



.massage-p{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.massage-p p{  
	color: #aaa;
	display: -webkit-box;
	-webkit-line-clamp:1;
	font-size: 0.9em;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.massage-p b{
	background: #06d755;
	color: #fff;
	min-width: 20px;
	height: 20px;
	border: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.75em;
}


.imgText{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgText h4{
	font-weight: 500;
	line-height: 1.2em;
	margin-left: 15px;
}

.imgText h4 span{
	font-size: 0.8em;
	color:#555;
}

.chartBox{
	position: relative;
	width:90%;
	height: calc(100% - 200px);
	padding: 50px;
	overflow-y: auto;
}


.massage{
	position: relative;
	display: flex;
	width: 100%;
	margin: 5px 0;
}

.massage p{
	position: relative;
	right: 0;
	text-align: right;
	max-width: 65%;
	padding:12px;
	background: #dcf8c6;
	border-radius: 10px; 
	font-size: 0.9em;
}

.massage p::before{
	content: '';
	position: absolute;
	top: 0;
	right: -12px;
	width: 20px;
	height: 20px;
	background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%,transparent 50%,transparent);
}

.massage p span{
	display: block;
	margin-top: 5px;
	font-size: 0.85em;
	opacity: 0.5;
}

.my-massage{
	justify-content: flex-end;
}

.frnd-massage{
	justify-content: flex-start;
}

.frnd-massage p{
	background: #fff;
	text-align: left;
}

.massage.frnd-massage p::before{
content: '';
	position: absolute;
	top: 0;
	left: -12px;
	width: 20px;
	height: 20px;
	background: linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50%,transparent);
}

.chartBox-input{
	position: relative;
	width: 101.5%;
	height: 40px;
	background: #f0f0f0;
	padding: px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chartBox-input ion-icone{
     cursor: pointer;
     font-size: 1.8rem;
     color: #51515c;
}

.chartBox-input input{
	position: relative;
	width: 90%;
	margin: 0 20px;
	padding: 10px 20px;
	border: none;
	outline: none;
	border-radius: 30px;
	font-size: 1em;
}



























