@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap')




*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans',sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(#009688 0%,#009688 130px,#d9bdd5 130px,#d9bdd5 100px)
}
.container{
	position:relative;
	width: 1256px;
	max-width:100%;
	height: calc(100vh - 40px);
	background: #fff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
	display: flex;
}

.container .leftSide{
	position: relative;
	flex: 30%;
	background:#fff;
	border-right: 1px solid rgba(0,0,0,0.06);

}

.container .rightSide{
	position: relative;
	flex: 70%;
	background:#e5ddd5;

}

.container .rightSide::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: url(img1.png); 
	opacity: 0.16; 
}



.header{
	position: relative;
	width: 98%;
	height: 60px;
	background:#ededed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.userimg{
	position: relative;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;

}
.nav-icons{
	display: flex;
}

.nav-icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
}
.cover
{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	object-fit: cover;
}

.search-chat{
	position: relative;
	width: 100%;
	height: 50px;
	background: #f6f6f6;
	display: flex;
	justify-content: center;
}

.search-chat div{
	width: 100%;
	padding-top: 7px;
}


.search-chat div input{
	width: 98%;
	outline: none;
	border:none;
	background: #fff;
	padding: 5px;
	height: 40px;
	border-radius: 30px;
	font-size: 14px;
	padding-left: 43px;


}
.search-chat div input::placeholder{
	color: #bbb;
}

.search-chat div ion-icon{
	position: absolute;
	left: 30px;
	top: 14px;
	font-size: 1.2em;
} 

.chartlist{
	position: relative;
	height: calc(100% - 110px);
	overflow-y: auto;
}
 
.chartlist .block{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    cursor: pointer;
}

.chartlist .block .imgbx{
	position: relative;
	min-width: 45px;
	height: 45px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10px;
}

.chartlist .block .details{
	position: relative;
	width: 100%;
}

.chartlist .block .details .listHead{
	display: flex;
	justify-content: space-between;
	margin-bottom: -30px;
}

.chartlist .block .details .listHead h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.chartlist .block .details .listHead .time{
	font-size: 0.75em;
	color:#aaa; 
}

.massage-p{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.massage-p p{  
	color: #aaa;
	display: -webkit-box;
	-webkit-line-clamp:1;
	font-size: 0.9em;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}


.imgText{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgText h4{
	font-weight: 500;
	line-height: 1.2em;
	margin-left: 15px;
}

.imgText h4 span{
	font-size: 0.8em;
	color:#555;
}

.chartBox{
	position: relative;
	width:90%;
	height: calc(100% - 120px);
	padding: 50px;
	overflow-y: auto;
}


.massage{
	position: relative;
	display: flex;
	width: 100%;
	margin: 5px 0;
}

.massage p{
	position: relative;
	right: 0;
	text-align: right;
	max-width: 65%;
	padding:12px;
	background: #dcf8c6;
	border-radius: 10px; 
	font-size: 0.9em;
}

.massage p::before{
	content: '';
	position: absolute;
	top: 0;
	right: -12px;
	width: 20px;
	height: 20px;
	background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%,transparent 50%,transparent);
}

.massage p span{
	display: block;
	margin-top: 5px;
	font-size: 0.85em;
	opacity: 0.5;
}

.my-massage{
	justify-content: flex-end;
}

.frnd-massage{
	justify-content: flex-start;
}

.frnd-massage p{
	background: #fff;
	text-align: left;
}

.massage.frnd-massage p::before{
content: '';
	position: absolute;
	top: 0;
	left: -12px;
	width: 20px;
	height: 20px;
	background: linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50%,transparent);
}